@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* avenir roman */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://s3.us-west-2.amazonaws.com/www.duyou.com.mx/assets/fonts/Avenir/AvenirLTStd-Roman.woff2) format('woff2');
}
/* avenir book */
@font-face {
  font-family: 'Avenir Book';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://s3.us-west-2.amazonaws.com/www.duyou.com.mx/assets/fonts/Avenir/AvenirLTStd-Book.woff2) format('woff2');
}
/* avenir black */
@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://s3.us-west-2.amazonaws.com/www.duyou.com.mx/assets/fonts/Avenir/AvenirLTStd-Black.woff2) format('woff2');
}

/* avenir light */
@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://s3.us-west-2.amazonaws.com/www.duyou.com.mx/assets/fonts/Avenir/AvenirLTStd-Light.woff2) format('woff2');
}

/* avenir heavy */
@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://s3.us-west-2.amazonaws.com/www.duyou.com.mx/assets/fonts/Avenir/AvenirLTStd-Heavy.woff2) format('woff2');
}
